<?xml version="1.0"?>
<launch>
  <!-- Load configuration -->
  <rosparam command="load" file="$(find robot_control)/config/robot_control_config.yaml" ns="robot_control"/>

  <!-- Launch robot control node -->
  <node pkg="robot_control" type="robot_control_node" name="robot_control_node" output="screen"/>

  <!-- 启动 gripper_control -->
  <node name="gripper_control" pkg="robot_control" type="gripper_control" output="screen" />

  <!-- 启动 robot_planning -->
  <node pkg="robot_planning" type="robot_planning_node" name="robot_planning_node" output="screen">
    <param name="urdf_path" value="$(find robot_planning)/models/double_arms_description.urdf"/>
    <param name="joint_limits_path" value="$(find robot_planning)/config/joint_limits.yaml"/>
    <param name="init_config_path" value="$(find robot_planning)/config/ik_urdf_double_arm_float.yaml"/>
  </node>

  <node pkg="robot_planning" type="get_base_link_pose" name="get_base_link_pose" output="screen" />

  <!-- 启动 rosbag，录制所有话题 -->
  <node name="rosbag_robot" pkg="rosbag" type="record" output="screen"
        args="-a -O /home/prodefi/rosbags/robot_log.bag" />

  <include file="$(find robot_description)/launch/robot_display.launch" />
</launch>

