<robot
  name="object">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.7465753580787E-17 1.31917654026282E-17 0.1"
        rpy="0 0 0" />
      <mass
        value="0.156515805385711" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://object/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://object/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>